[submodule "srs-tex"]
	path = srs-tex
	url = https://github.com/Eisenbarth/SRS-Tex
[submodule "caffe"]
	path = caffe
	url = https://github.com/BVLC/caffe.git
[submodule "tensorflow_models/human_pose_model/pixel-cnn"]
	path = tensorflow_models/human_pose_model/pixel-cnn
	url = https://github.com/openai/pixel-cnn.git
