.page-flex-box-wrapper{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1;
}

body{
    background-image: url("https://www.transparenttextures.com/patterns/xv.png") !important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.warning-bg{
    background-color: #d58a00 !important;
}


.btn {
  overflow: hidden;
}
.btn:hover:before {
  opacity:0.5;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}


.ghost-button-rounded-corners {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
  background-color: #fff;
  color: #000;
}


.card-content-less-padding{
    padding: -24px;

}


.padded-from-top{
    padding-top: 5px;
}

.padded-from-bot{
    padding-bottom: 5px;
}
.padded-from-left{
    padding-left: 10px !important;
}

.pushed-left{
    padding-left:2em;
}

.pushed-up{
    margin-top: -1.25em;
}

.moved-down{
    padding-top: 2em;
}

.cursorPointer{
    cursor:pointer;
}

.heading-font{
    font-size: 26px !important;
}



.banner-image{
    background-image: url('/images/banner.jpg');
    height: 18em;
    width: 100%;
}
@media(max-width:767px){
    .banner-image{
        height: 22em;
    }
}


hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}



.no-margins{
    margin: 0;
}


.nav-transition{
    width: 100%;
    height: 0.5em;
}


.panel-head-img{
    height: 10em !important;
}


.fullWidth{
    width:100% !important;
}

.bold{
    font-weight: bold !important;
}

.rounded{
    border-radius: 10px;
}


.bordered-left-red{
    border-left: solid 10px #E57373 !important
}
.bordered-left-indigo{
    border-left: solid 10px #7986cb !important;
}
.bordered-left-teal{
    border-left: solid 10px #4db6ac !important;
}


.group-contact-avatar{
    height: 80px !important;
}

.xl-font{
    font-size: 18px !important;
}

.xxl-font{
    font-size: 25px !important;
}










/*unsure if i should delete the following css just yet */

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    max-width: 80%;
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.input-file + label * {
    pointer-events: none;
}

.input-file:focus + label,
.input-file + label:hover {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6);
}

.not {
    display: none;
}

video {
    max-width: 100%;
    width: 640px;
}

div + div {
    margin-bottom: 5px;
}

.bordered-bottom-teal {
    border-bottom: solid 5px #00796b !important;
}


.uploaded-image-preview {
    height: 20em !important;
    width: 100% !important;
    background-color: ghostwhite !important;
    border: 1px dashed grey;
}



.image-container {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


@media only screen and (max-width: 500px) {
   .uploaded-image-preview{
       height: 12em !important;
       width: 100% !important;
       background-color: ghostwhite !important;
       border: 1px dashed grey;
   }
    .image-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}


.user-avatar-img{
    height: 10em !important;
    width: 70% !important;
    background-color: #909090 !important;
    margin-left: 15% !important;
}
