@{
    ViewData["Title"] = "Contact Information";
}
<br />
<div class="row">
    <div class="card page-heading col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-center"><b>@ViewData["Title"]</b></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="alert alert-info card-inverse">
                <h3 class="text-center">Group Members</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b>Brendan Duke</b><br />
                                Computer Science, McMaster<br />
                                <label class="label label-primary">dukebw@mcmaster.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b>David Pitkanen</b><br />
                                Computer Science, McMaster<br />
                                <label class="label label-primary">d.t.pitkanen@gmail.com</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b>Udip Patel</b><br />
                                Computer Science, McMaster<br />
                                <label class="label label-primary">patel.udip@gmail.com</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b>Jordan Viveiros</b><br />
                                Computer Science, McMaster<br />
                                <label class="label label-primary">viveirjd@mcmaster.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b>Andrew Kohnen</b><br />
                                Computer Science, McMaster<br />
                                <label class="label label-primary">kohnena@mcmaster.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row card">
                <br />
                <h3 class="text-center">Supervisors</h3>
                <br />
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b><i>Daniel Szymczak</i></b><br />
                                Internal Supervisor<br />
                                McMaster University<br />
                                <label class="label label-danger">szymczdm@mcmaster.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b><i>Dr. Wenbo He</i></b><br />
                                Internal Supervisor<br />
                                Associate Professor, McMaster University<br />
                                <label class="label label-danger">wenbohe@mcmaster.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b><i>Thor Jonsson</i></b><br />
                                External Supervisor<br />
                                University of Guelph,<br />
                                <label class="label label-success">tjonsson@uoguelph.ca</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="card">
                        <div class="card-content">
                            <div class="md-font">
                                <b><i>Dr. Graham Taylor</i></b><br />
                                External Supervisor<br />
                                Assistant Professor,<br>
                                School of Engineering,<br /> University of Guelph
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>