@{
    ViewData["Title"] = "Contact";
}
<div class="row no-margins">
    <div class="col s10 offset-s1">
        <div class="card blue lighten-2 white-text">
            <h4 class="center-align padded-from-bot padded-from-top"><b>Contact Information</b></h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="col l4 s12">
            <div class="card rounded blue-grey darken-1 white-text center-align z-depth-2">
                <span class="card-title padded-from-bot padded-from-top"><b>Group Members</b></span>
            </div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Brendan Duke</b></p>
                        <p>Computer Science,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 indigo lighten-1 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Udip Patel</b></p>
                        <p>Computer Science,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 indigo lighten-1 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>David Pitkanen</b></p>
                        <p>Computer Science,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 indigo lighten-1 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Jordan Viveiros</b></p>
                        <p>Computer Science,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 indigo lighten-1 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Andrew Kohnen</b></p>
                        <p>Computer Science,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card rounded blue-grey white-text center-align z-depth-2">
                <span class="card-title padded-from-bot padded-from-top"><b>Internal Supervisors</b></span>
            </div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Dr. Wenbo He</b></p>
                        <p>Associate Professor,</p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 teal lighten-2 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Daniel Szymczak</b></p>
                        <p>McMaster University</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card rounded blue-grey lighten-1 white-text center-align z-depth-2">
                <span class="card-title padded-from-bot padded-from-top"><b>External Supervisors</b></span>
            </div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Dr. Graham Taylor</b></p>
                        <p>School of Engineering,</p>
                        <p>University of Guelph</p>
                    </div>
                </div>
            </div>
            <div class="col s10 offset-s1 red lighten-1 no-margins"></div>
            <div class="row no-margins">
                <div class="card horizontal z-depth-3 no-margins col l12 s10 offset-s1">
                    <div class="card-content">
                        <p><b>Thor Jonsson</b></p>
                        <p>University of Guelph</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
