@{
    ViewData["Title"] = "Group Information";
}

@{
    ViewData["Message"] = "Contant information";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brendan Duke<br />
    Computer Science, McMaster<br />
    <abbr title="Email">Email:</abbr>
    dukebw@mcmaster.ca
</address>

<address>
    Udip Patel<br />
    Computer Science, McMaster<br />
    <abbr title="Email">Email:</abbr>
    patel.udip@gmail.com
</address>

<address>
    Jordan Viveiros<br />
    Computer Science, McMaster<br />
    <abbr title="Email">Email:</abbr>
    viveirjd@mcmaster.ca
</address>

<address>
    David Pitkanen<br />
    Computer Science, McMaster<br />
    <abbr title="Email">Email:</abbr>
    d.t.pitkanen@gmail.com
</address>

<address>
    Andrew Kohnen<br />
    Computer Science, McMaster<br />
    <abbr title="Email">Email:</abbr>
    kohnena@mcmaster.ca
</address>

<address>
    <strong>External Supervisor</strong>
    Dr. Grahm Taylor<br />
    gwtaylor@uoguelph.ca<br />
    <br />

    <strong>Internal Supervisor</strong>
    Dr. Wenbo He<br />
    wenbohe@mcmaster.ca
</address>
