@{
    ViewData["Title"] = "About";
}
<br />
<div class="row">
    <div class="card page-heading col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <h2 class="text-center">
            <b>@ViewData["Title"]</b>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card cardMinHeight">
                <div class="card-content">
                    <h3 class="text-center">Application Description</h3>
                    <hr />
                    <ul>
                        <li>This app should act as a 'databank' for visual and text-based motion data captured from images and videos</li>
                        <br />
                        <li> As of now, the pose estimation algorithm can find the joint positions of the upper half of a single human</li>
                        <li> Once uploaded the images can be found with the tag that they were labeled with on creation</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card cardMinHeight">
                <div class="card-content">
                    <h3 class="text-center">Resources</h3>
                    <hr />
                    <ul>
                        <li> <a href="http://caffe.berkeleyvision.org/">Caffe</a> Deep Learning Framework</li>
                        <li> <a href="https://www.asp.net/">ASP.Net</a></li>
                        <li> Flowing Convolutional Neural Network for Human Pose Estimation in Videos</li>
                        <li> Looking into adding tensorflow </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card cardMinHeight">
                <div class="card-content">
                    <h3 class="text-center">Instructions</h3>
                    <hr />
                    <p class="text-center">Login/Register for further instructions</p>
                    <div class="text-center">
                        <a href="/Account/Login" class="btn btn-primary">Login</a>
                        <a href="/Account/Register" class="btn btn-info">Register</a>
                    </div>
                    <br />
                    <ul>
                        <li>Users can upload images and videos to be processed <ul><li>from the <b>ImagePoseDraw</b> page</li></ul></li>
                        <li>Users can also search through the images and videos uploaded to the site (by all users)<ul><li>from the <b>TextToMotion</b> page</li></ul></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="card page-heading col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <h2 class="text-center">
            Project Information
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card card-inverse">
                <div class="card-content">
                    <h2 class="text-center">Project Overview</h2>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <p class="geoFont md-font card-content-extra-padding">
                    This website is part of a larger project that is being undertaken by Dr.Taylor,
                    which is also subcomponent of a larger collaboration between his own university -- the
                    University of Guelph, SRI (a non-profit research organization in the US), and
                    other institutions. This aforementioned collaboration was established with the
                    goal of producing a Computational Storytelling system.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card card-inverse">
                <div class="card-content">
                    <h2 class="text-center">Problem Statement</h2>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <p class="geoFont md-font card-content-extra-padding">
                    In order to implement the overall Computational Storytelling, there must be a way to dynamically 'simulate' or 'render'
                    the appropriate body language given a set of actions or dialogue. There is a need
                    for a database that can link videos and images with rich text annotations that describe
                    the motion that is observed in the image or video,
                    along with visual motion data as well (e.g. human pose estimation describing the movement of joints)
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card card-inverse">
                <div class="card-content">
                    <h2 class="text-center">This Website's Function</h2>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="card">
                <p class="geoFont md-font card-content-extra-padding">
                    As our team's contribution to the overall Computational Storytelling project
                    , This website can be used to upload large amounts of images+videos and harvest motion
                    data with rich annotations describing the actions observed in the images or videos.
                    We will use deep learning algorithms with Caffe/Tensorflow to capture the motion data.
                    This website can also provide each user with some basic analytics about their uploaded images
                </p>
            </div>
        </div>
    </div>
</div>
