@{
    ViewData["Title"] = "Create";
}

<h2>DataTable Test</h2>

<div class='row'>
    <table id="example" class="display" width="100%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Link to Img</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            //this is the data that the table is meant to display, NEED to replace this with a model that is passed into the view, OR via an AJAX call that sends all the tableData 
            var dataSet = [
                ['first', 'test', 'link1'],
                ['second', 'test', 'link2'],
                ['last', 'test', 'link3']
            ]
            //note that the titles provided for the columns do not have to be the same as the <td> values
            //these titles are used to refer to the columns in javascript code
            //also, the js code can use the var 'dTable' to call datatable functions (you can find them in the datatables documentation, functions like 'getRowData', etc)
            var dTable = $('#example').DataTable({
                data: dataSet,
                columns: [
                    {title: 'Name'},
                    {title: 'Description'},
                    {title: 'Link'}
                ]
            });
        });
    </script>
}
