@{
    ViewData["Title"] = "ScreencapDemo";
}

@section PreLoaded{
    <script type="text/javascript" src="~/lib/knockout/dist/knockout.js"></script>
}


<div class="row">
    <div class="card page-heading col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-center"><b>@ViewData["Title"]</b></h2>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Please Select a Mode:
        
        <input type="radio" class="with-gap" name="mode" id="joints_mode" value="joints" checked data-bind="checked: vm.mode"/>
        <label for="joints_mode">Render Joints</label>

        <input type="radio" class="with-gap" name="mode" id="heatmap_mode" value="heatmap" data-bind="checked: vm.mode"/>
        <label for="heatmap_mode">Render Heatmaps</label>

        <input type="radio" class="with-gap" name="mode" id="activation_map_mode" value="activation_map" data-bind="checked: vm.mode"/>
        <label for="activation_map_mode">Render Activation Maps</label>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <video autoplay></video>
    </div>
    <div class="col s6" data-bind="visible: vm.mode() == 'joints'">
        <canvas></canvas>
    </div>
    <div class="col s6" data-bind="visible: vm.mode() == 'heatmap'">
        <canvas id="original-image-canvas"></canvas>
        <canvas id="heatmap-only-canvas"></canvas>
        <canvas id="heatmap-with-image-canvas"></canvas>
    </div>
</div>
<br />

@section Scripts {
    @{ await Html.RenderPartialAsync("ProcessStreamViewModel"); }
}