@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col m10 s12 offset-m1 padded-from-top">
        <div class="card indigo lighten-2 z-depth-1">
            <div class="card-content white-text">
                <h4 class="center-align no-margins padded-from-bot"><b>@ViewData["Title"]</b></h4>
                <div class="col m6 s12 offset-m3">
                    <div class="card-panel white z-depth-3 black-text">
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="red darken-1 white-text center-align pushed-up bold rounded"></div>
                            <div class='row'>
                                <div class='col m10 offset-m1 col s12'>
                                    <div class="input-field">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="email"   asp-for="Email" type="email" />
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="password" asp-for="Password" type="password" />
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="row">
                                        <div class="">
                                            <input id="remember" asp-for="RememberMe" type="checkbox"/>
                                            <label for="remember" asp-for="RememberMe"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margins">
                                <button class="btn waves-effect waves-light col s10 offset-s1" type="submit">
                                    Sign In
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
