@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col m10 s12 offset-m1 padded-from-top">
        <div class="card teal lighten-1">
            <div class="card-content white-text z-depth-1">
                <h4 class="center-align no-margins padded-from-bot"><b>@ViewData["Title"]</b></h4>
                <div class="col m6 s12 offset-m3">
                    <div class="card-panel white z-depth-3 black-text">
                        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="red darken-1 white-text center-align pushed-up bold rounded"></div>
                            <div class="row">
                                <div class='col m10 offset-m1'>
                                    <div class="input-field">
                                        <i class="material-icons prefix">perm_identity</i>
                                        <input id="email" asp-for="Email" type="email" />
                                        <label for="email">Please enter your email</label>
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock_open</i>
                                        <input id="password" asp-for="Password" type="password" />
                                        <label for="password">Please enter a Password</label>
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons prefix">lock_outline</i>
                                        <input id="confirm-password" asp-for="ConfirmPassword" type="password" />
                                        <label for="confirm-password">Confirm Password</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margins">
                                <button class="btn waves-effect waves-light indigo lighten-2 col s10 offset-s1" type="submit">
                                    Sign Up
                                    <i class="fa fa-arrow-circle-right right-align"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
