<div class="row">
    <h2 class='text-center'>@ViewData["Title"]</h2>
    <hr>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1'>
            <ol class='breadcrumb'>
                <li><a href='/TextToMotion'>Search</a></li>
                <li class='active'>@ViewData["Query"]</li>
            </ol>
        </div>
    </div>
</div>