<!DOCTYPE html>
<html>
@using Microsoft.AspNetCore.Identity
@using TextToMotionWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Text to Motion</title>

        <environment names="Development">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging, Production">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
            <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        @RenderSection("preloaded", required: false)
    </head>
    <body class="grey lighten-4">
        <div class="page-flex-box-wrapper">
            <header>
                <nav>
                    <div class="nav-wrapper row black">                        
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @await Html.PartialAsync("AuthorizedNavLinks")
                                <div class="nav-transition padded-from-top">
                                </div>

                            }
                            else
                            {
                                @await Html.PartialAsync("NavLinks")
                            }
                    </div>
                </nav>
            </header>
            <main>
                @RenderBody()
                <br /><br />
            </main>
            <div class="nav-transition grey lighten-1"></div>
            <footer class="page-footer grey darken-4"></footer>

        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging, Production">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/materialize/dist/js/materialize.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("scripts", required: false)
        <script>
            $(document).ready(function () {
                $(".button-collapse").sideNav();
                $(".dropdown-button").dropdown();

            });

            @if (SignInManager.IsSignedIn(User))
            {
                <text>
                    $('#user-avatar').css('background-image', 'url("https://evatar.io/@UserManager.GetUserName(User)")');
                    $('#user-avatar-mobile').attr('src', "https://evatar.io/@UserManager.GetUserName(User)");
                </text>

            }
        </script>
    </body>
</html>
