
<ul id='project-dropdown' class='dropdown-content grey lighten-2' style="margin-top:64px">
    <li><a href="/" class="teal-text text-darken-2 center-align"><b>Home</b></a></li>
    <li><a class="teal-text text-darken-1 center-align" asp-area="" asp-controller="Home" asp-action="About"><b>About</b></a></li>
    <li><a class="teal-text text-darken-1 center-align" asp-area="" asp-controller="Home" asp-action="Contact"><b>Contact</b></a></li>
</ul>
<ul class="right hide-on-med-and-down">
    <li><a href="/Home/Dashboard" class="center-align"><b>Dashboard</b></a></li>
    <li><a href="#" data-activates="slide-out" class="side-nav-trigger"><b>User Options</b></a></li>
    <li><a class='dropdown-button center-align' href='#' data-activates='project-dropdown'><b>Project Details</b><i class="material-icons right">arrow_drop_down</i></a></li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="center-align">
            <button class="btn navbar-btn red darken-3 waves-effect waves-light" type="submit">Log Off</button>
        </form>
    </li>
</ul>


<ul id="mobile-nav" class="side-nav">
    <li><a href="/" class="center-align"><b>Home</b></a></li>
    <li><a class="center-align" asp-area="" asp-controller="Home" asp-action="About"><b>About</b></a></li>
    <li><a class="center-align" asp-area="" asp-controller="Home" asp-action="Contact"><b>Contact</b></a></li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="center-align">
            <button class="btn navbar-btn red darken-3 waves-effect waves-light" type="submit">Log Off</button>
        </form>
    </li>
</ul>



