<div class="col s12">
    <a href="/" class="brand-logo padded-from-left heading-font"><b>Text-To-Motion</b></a>
    <a data-activates="mobile-nav" class="button-collapse cursorPointer">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/"><b>Home</b></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About"><b>About</b></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact"><b>Contact</b></a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="waves-effect waves-light btn indigo darken-1">Log in</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="waves-effect waves-light btn">Register</a></li>
    </ul>


    <ul id="mobile-nav" class="side-nav">
        <li><a href="/" class="center-align"><b>Home</b></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About" class="center-align"><b>About</b></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="center-align"><b>Contact</b></a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="waves-effect waves-light btn indigo darken-1">Log in</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="waves-effect waves-light btn">Register</a></li>
    </ul>
</div>