<html>
    {% module Template("templates/include.html") %}
    <body class="bg-color">
        <div class="row">
            {% module Template("templates/jumbotron.html") %}
        </div>
        <div class="row minHeight">
            {% module Template("templates/sidebar.html") %}

            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 paddedFromTop">
                <div class="panel panel-default">
                    <div class="panel-heading subHeading-bg">
                        <h2>Help - Functionality</h2>
                    </div>
                    <div class="panel-body">
                        <p>More details on the web app</p>
                    </div>
                </div>
            </div>
        </div>
        {% module Template("templates/commonJS.html") %}
    </body>
</html>
