<!DOCTYPE html>
<html>
    {% module Template("templates/include.html") %}
    <body class="bg-color">
        <div class="row">
            {% module Template("templates/jumbotron.html") %}
        </div>
        <div class="row minHeight">
            {% module Template("templates/sidebar.html") %}
            <!-- template takes up col-lg-3 -->
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 paddedFromTop">
                <div class="panel panel-default">
                    <div class="panel-heading subHeading-bg">
                        <h2>Skeleton Overlay</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                <form class="form-horizontal" action="/skOverlay" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>/File:<input type="file" name="image" required></span>
                                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Upload" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% module Template("templates/commonJS.html") %}
    </body>
</html>
