../MPII_Dataset.p                                                                                                                                                                                                               [0/177]
../autoencoders/
../checkpoints/
../config.json
../config_test_gpu1.json
../data/
../datasets/
../debug_data/
../debug_log/
../demo_tools/
../deployment_files/
../inspect_checkpoint.py
../log/
../my_useful_session.py
.inference.py.swo
config_overview
../pixel-cnn/
../quantization_stuff/.quantize.py.swp
../quantization_stuff/checkpoint
../quantization_stuff/config.json
../quantization_stuff/events.out.tfevents.1490819603.SOE-IBM1.cfs.uoguelph.ca
../quantization_stuff/events.out.tfevents.1490819775.SOE-IBM1.cfs.uoguelph.ca
../quantization_stuff/model.ckpt-1460.data-00000-of-00001
../quantization_stuff/model.ckpt-1825.data-00000-of-00001
../quantization_stuff/model.ckpt-1825.index
../quantization_stuff/model.ckpt-2190.data-00000-of-00001
../quantization_stuff/model.ckpt-2190.index
../quantization_stuff/model.ckpt-2555.data-00000-of-00001
../quantization_stuff/model.ckpt-2555.index
../quantization_stuff/model.ckpt-2920.data-00000-of-00001
../quantization_stuff/model.ckpt-2920.index
../quantization_stuff/train_log
../res_v2_config_base.json
../slicing_and_joining_in_tf
../submit_runs.sh
../tensorboard_draft.py
../tensorflow-1.0.0rc2-cp35-cp35m-linux_x86_64.whl
../test/
../test_config.json
../test_config_adam.json
../test_vae/
../train/
../train0.tfrecord
../train1.tfrecord
../train2.tfrecord
../train3.tfrecord
../train_80/
../train_vgg_fcn/
../vae_0/
../valid_vgg_fcn/
../vgg_16_256px_regression/
../../res_config_base.json
../../server.pem
../../test_video/
../../tf_http_server.py
../../thor_examples/.gitignore
../../thor_examples/Untitled.ipynb
../../thor_examples/dhanesh_get_vgg16.py
../../thor_examples/mnistcustomrunner.py
../../thor_examples/model.py
../../thor_examples/segmentation.py
../../thor_examples/simple_classification_segmentation.ipynb
../../thor_examples/tf_slim_mlp.py
../../thor_examples/transposed_convolution.py
../../thor_examples/upsampling_segmentation.ipynb
../../write_tf_record/
../../../tf-http-server/.tf_http_server.py.swp

